* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color:rgb(255, 59, 213);
  }
#menu {
    padding: 0 7px;
    cursor: pointer;
    
   }
article img{
    float: right;
  }
  .wrap{
    background-color: aqua;
    text-align: center;
    
  }
